name: build

on: [push, pull_request]

permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: stable
          cache: true

      - name: Tidy dependencies
        run: go mod tidy

      - name: Verify no uncommitted changes
        run: git diff --exit-code

      - name: Build
        run: go build ./...

      - name: Test
        run: go test ./...

  govulncheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: stable
          cache: true

      - name: Run govulncheck
        run: |
          go install golang.org/x/vuln/cmd/govulncheck@latest
          govulncheck ./...

  semgrep:
    runs-on: ubuntu-latest
    container:
      image: returntocorp/semgrep
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Checkout semgrep rules
        uses: actions/checkout@v4
        with:
          repository: dgryski/semgrep-go
          path: rules

      - name: Run semgrep
        run: semgrep scan --error --enable-nosem -f ./rules .

  ruleguard:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Checkout rules
        uses: actions/checkout@v4
        with:
          repository: dgryski/semgrep-go
          path: rules

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: stable
          cache: true

      - name: Run ruleguard
        run: |
          mv rules /tmp/rules
          go install github.com/quasilyte/go-ruleguard/cmd/ruleguard@latest
          go get -u github.com/quasilyte/go-ruleguard/dsl
          ruleguard -c 0 -rules /tmp/rules/ruleguard.rules.go ./...
